*,
* ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    border: 2px solid #f0c808;
    border-radius: 60%;
    object-position: center 40%;
}

.hero {
    background: url("../img/capa.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    color: #f8fafa;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgb(3, 3, 3);
    background: linear-gradient(0, 0, 0, 0.5) rgb(0, 0, 0);
}

.galeria {
    display: inline-flex;
    width: 100px;
    height: 60px;
    object-fit: cover;
    gap: 16px;

}

.galeria figure {
    overflow: hidden;
    border: 1px solid #e2e8f0;
}

.galeria figure img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    transition: transform .3s, opacity .3s;
}

.galeria figure:hover img {
    transform: scale(1.06);
    opacity: .82;
    transition: transform .3s, opacity .3s;
}

body {
    text-align: center;
    background-color: #edeff18a;

}

header {
    background-color: #cc2724e3;
}

nav {
    padding-bottom: 15px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    padding: 20px 10px;
    margin: 40px 20px;
    color: #F0C808;
    font-size: larger;
    font-weight: bold;
}
h1 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0C808;
}

.subtitulo {
    margin-top: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #F0C808;
    text-shadow: 2px 2px 4px rgb(230, 228, 228);
    background: linear-gradient(0, 0, 0, 0.5) rgba(255, 254, 254, 0);
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 30px;
    border-radius: 15px;
    border: 1px solid #f0c808;
    background-color: #FFF1D0;
    cursor: pointer;
    transition: all 0,3s ease;
    padding: 8px 18px;
    margin: 10px 20px;
}

.button:hover {
    background-color: #fbe781;
    color: #60B2CE;
    transform: scale(1.1)
}
footer{
    background-color: #07a0c3;
    margin-top: 20px;
    color: #F0C808;
}
p {
    text-align: center;
    color: #07a0c3;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
